.fg
{
    width: 400px;
    padding-left: 400px;
}

@media (max-width:799px) {
    .jiu
    {
        color:red;
    }
    .fg
    {
        width: 200px;
        height: 200px;
        padding-left: 150px;
    }
    img 
    {
        width: 100%;
    }
    p 
    {
        color: black;
        font-size: 30px;
    }
}
@media (max-width:432px)
{
    img 
    {
        width: 100%;
    }
        p 
    {
        color: black;
        font-size: 30px;
    }

}
